.stroke-single,
    .stroke-double {
      position: relative;
      background: transparent;
      z-index: 0;
      color: #E02F3E;
      font-size: 1.3em;
    }

    .stroke-single:before,
    .stroke-double:before {
      content: attr(data-content);
      position: absolute;
      -webkit-text-stroke: 0.11em white;
      left: 0;
      z-index: -1;
    }

    .stroke-double:after {
      content: attr(data-content);
      position: absolute;
      -webkit-text-stroke: 0.16em #000;
      left: 0;
      z-index: -2;
    }
    .warning-text {
      font-size: 2.5rem;
      line-height: 6rem;
      text-align: center;
    }
    .warning-btn {
      font-size: 2.5rem;
      border-radius: 15px;
      margin: 0 2rem;
    }
    @media screen and (max-width: 768px) {
      .warning-img {
        max-width: 150px;
        margin: auto;
      }
      .warning-text,
      .warning-btn {
        font-size: 1.5rem;
      }
      .warning-text {
        line-height: 3rem;
      }
    }